.logotipo {
  width: 100px;
  padding: 10px 0;
}

.icono-redes {
  width: 22px;
  margin: 10px 5px;
}

.separar {
  padding: 100px 0;
}

.color-final {
  background-color: #781f86;
}

.botones {
  font-family: "Zen Dots", cursive;
  background: #00416a;
  background: -webkit-linear-gradient(to right, #b92b27, #1565c0);
  background: linear-gradient(to right, #b92b27, #1565c0);
  border: none;
  display: block;
  width: 50%;
  margin: 10px auto;
  color: #ffff;
  height: 40px;
}
