.logotipo {
  width: 100px;
  padding: 10px 0;
}

.icono-redes {
  width: 22px;
  margin: 10px 5px;
}

.separar {
  padding: 100px 0;
}

.color-final {
  background-color: #781f86;
}
