.contenido-pagina h3 {
  font-family: "font-family: 'Zen Dots', cursive";
  color: rgb(0, 0, 0);
}

.contenido-pagina {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 1px solid #ffffff;
}
.contenido.agregar {
  align-items: center;
  align-content: center;
}

.contenido {
  margin: 25px;
  padding: 2px 16px;
}

.contenido:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.contenido img {
  width: 300px;
}

.agregar {
  font-size: 16px;
  text-align: center;
  align-items: center;
  transition-duration: 0.3s;
  background: #c6ffdd;
  background: -webkit-linear-gradient(to right, #f7797d, #fbd786, #c6ffdd);
  background: linear-gradient(to right, #f7797d, #fbd786, #c6ffdd);
  color: rgb(6, 7, 0);
  border-radius: 15px;
  padding: 1px 100px;
  vertical-align: bottom;
  font-family: "font-family: 'Zen Dots', cursive";
}

.agregar:hover {
  background-color: #4caf50; /* Green */
  color: white;
}
.container {
  margin: 20px;
  text-align: center;
}

.pagar {
  text-align: center;
  font-family: "Zen Dots", cursive;
  background: #00416a;
  background: -webkit-linear-gradient(to right, #b92b27, #1565c0);
  background: linear-gradient(to right, #b92b27, #1565c0);
  border: none;
  display: block;
  width: 50%;
  margin: 10px auto;
  color: #ffff;
  height: 40px;
}

.pagar:hover {
  background-color: #000dbd; /* Green */
  color: white;
}
